// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$bg: #F8F9FA;
$link-color: #0066CC;
$header-color: #7B858F;
$table-outline-color: #dddddd;
$subtle: #aaa;
$faint: #F2F2F2;
$h1-size: 2em;

html {
  background: $bg;
  a, a:visited, a:hover {
    text-decoration: none !important;
  }
  a, a:visited {
    color: $link-color;
  }
  a:hover {
    color: red;
  }
  time {
    text-transform: capitalize;
  }
  li {
    margin-bottom: 10px;
  }
  ul, ol {
    margin-left: 20px;
  }
  h3 {
    margin-bottom: 0.5em;
  }
  h4, h5 {
    margin-bottom: 0.7em;
  }
}

body {
  max-width: 850px;
  > header {
    background: $bg;
    text-align: center;
    h2 {
      margin: 0 0 0;
    }
    hgroup {
      h1 {
        text-transform: lowercase;
        a, a:hover, a:visited {
          font-size: 0.9em;
          color: $header-color;
        }
      }
      h2 {
        font-size: .7em;
        color: $subtle;
      }
    }
  }

  > nav {
    background: $bg;
    border-bottom: 1px solid $faint;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 0.8em;
    padding-top: .4em;
    padding-bottom: .4em;
    margin-top: 1em;
    margin-bottom: 1em;
    a {
      text-shadow: none;
    }
    li+li {
      border-left: 1px solid $faint;
    }
  }

  > div {
    border-bottom: none;
  }

  > footer {
    background: $bg;
    text-shadow: none;
    font-size: 0.7em;
    p {
      margin-bottom: 0.1em;
      line-height: 1.3em;
    }
  }

  // Hide the sidebar nonsense.
  > div > div {
    background: $bg;
    border-right: none;
  }
}

#main {
  position: relative;
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

article {
  a {
    white-space: nowrap;
  }
  h1, h2, h3, h4, h5, h6 {
    a {
      white-space: normal;
    }
  }
  a:active {  // Subtle link click button effect.
    position: relative;
    top: 1px;
  }
  h2 {
    background: none;
  }
  header {
    h1 {
      font-size: $h1-size !important;
    }
    p.meta {
      font-size: 0.8em;
      display: inline-block;
      position: relative;
    }
    background: none;
  }
}

#main > #content > div > article > h1 {
  font-size: $h1-size;
}

.search {
  // TODO: Do a better job scoping this.
  border-radius: 0.2em 0.2em 0.2em 0.2em !important;
  box-shadow: none !important;
  border: 0px !important;
  padding-top: 0.3em !important;
  padding-bottom: 0.3em !important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.blog-index article+article, #blog-archives article {
  background: none;
}
.meta {
  color: $subtle;
}
p.meta {
  border-top: 1px solid $faint;
  +.sharing {
    background: none;
  }
}

.summary {
  table {
    max-width: 100%;
    width: 95%;
    background-color: transparent;
    border: 1px solid $table-outline-color;
    border-color: $table-outline-color;
    margin-bottom: 1em;
  }
  thead {
    td {
      font-weight: bold;
    }
  }
  td {
    border: 1px solid $table-outline-color;
    padding: 6px;
  }
}

//////// Currency styling.
$cad-red:    #800000;
$usd-blue:   #0000A0;
@mixin money-block {
  border-radius: 0.4em;
  display: inline-block;
  line-height: 1.5em;
  font-size: 0.8em;
  padding: 0 0.3em;
}

.money {
  font-weight: bold;
  &.usd {
    color: $usd-blue;   // Generates .money.usd { font-weight: bold; color: #0000A0; }
    &.price {
      border: 1px solid $usd-blue;
      @include money-block;
    }
  }
  &.cad {
    color: $cad-red;
    &.price {
      border: 1px solid $cad-red;
      @include money-block;
    }
  }
}
//// End currency styling.
